*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8FA;
}

/* INIZIO HEADER */
.inline{
    display: inline-block;
    vertical-align: middle;
    padding: 20px 0 0 20px; 
}

.dashboard {
    height: 100px;
    width: auto;
    font-size: 25px;
    background-color: #fff;
}
/* FINE HEADER */

/* INIZIO MAIN */
.container{
    height: 1200px;
    margin: 0px 100px 10px 200px;
    padding: 20px 50px;
    background-color: white;
    border-radius: 10px;
}

main{
    padding: 0px 20px;
    margin-top: 50px;
}

/* primi bottoni */

.round{
    border-radius: 5px;
}

.first-buttons{
    vertical-align: middle;
}

.blue-button{
    display: inline-block;
    width: 65px;
    height: 30px;
    background-color: #47ABF1;
    color: #fff;
    
}

.white-button{
    display: inline-block;
    width: 100px; 
    height: 30px;  
    background-color: #fff;
    border: 1px solid rgb(106, 104, 104);
    color: grey;
}



/* fine primi bottoni */

/* inizio prima lista */

li{
    padding: 10px 30px;
    list-style-type: none;
}

.lista{
    margin-top: 40px;
}

.first-list{
    padding: 20px;
}

.triangolino{
    display: inline-block;
    margin-right: 5px;
}

.spunta-verde{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    text-align: center;
    vertical-align: middle;
}

.x-rossa{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    text-align: center;
    vertical-align: middle;
}

.editorial{
    display: inline-block;
    height: 20px;
    width: 80px ;
    background-color: #4AA8EB;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 5px;
}

.q1-goals{
    display: inline-block;
    height: 20px;
    width: 80px ;
    background-color: #9A74E0;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 5px;
}

.recruiting{
    display: inline-block;
    height: 20px;
    width: 80px ;
    background-color: #60C4A9;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 5px;
}

.mobile{
    display: inline-block;
    height: 20px;
    width: 80px ;
    background-color: #F89A36;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 5px;
}

.website{
    display: inline-block;
    height: 20px;
    width: 80px ;
    background-color: #D6659F;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 5px;
}

.sales{
    display: inline-block;
    height: 20px;
    width: 80px ;
    background-color: #B0CA2B;
    border-radius: 8px;
    text-align: center;
    color: white;
    margin-left: 5px;
}